[flake8]
ignore = "E203,E266,H106,H904"
exclude = 
    .git,
    __pycache__,
    __init___,
    docs/source/conf.py,
    old,
    build,
    dist,
    *migrations*,
    settings.py,
    manage.py
hang-closing = true
max-complexity = 10